
  <section id="faqs" class="container">
  <h1>Listing Articles</h1>
   <% @articles.each do |article| %>
        <ul class="faq unstyled">
            <li>
                <span class="number">image</span>
                <div>
                    <h4><%= article.title %></h4>
                    <p><%= truncate(article.description, :length => 15)%></p>
                </div>
               
            </li>

      </ul>
   <% end %>
 <div><h3><%= link_to 'New Article', new_article_path %></h3></div>
    </section>
  